<article class="d-flex justify-content-center">
  <div class="w-50 border border-4 p-4">
    <h3 class="text-center">Employee Input Form</h3>

    <form [formGroup]="employeeForm"  (submit)="collectData()">
      <div class="mb-3">
        <label for="empId" class="form-label">ID</label>
        <input
          type="number"
          class="form-control"
          id="empId"
         formControlName="empId"
        
        />
      </div>
      <div class="mb-3">
        <label for="empName" class="form-label">Employee Name</label>
        <input
          type="text"
          class="form-control"
          id="empName"
         formControlName="empName"
        />
      </div>
      <div class="mb-3">
        <label for="joiningDate" class="form-label">Joining Date</label>
        <input
          type="datetime-local"
          class="form-control"
          id="joiningDate"
          formControlName="joiningDate"
        />
      </div>
      <div class="mb-3">
        <label for="basicSalary" class="form-label">Basic Salary</label>
        <input
          type="number"
          class="form-control"
          id="basicSalary"
          formControlName="basicSalary"
        />
      </div>
      <div class="mb-3">
        <label for="deptCode" class="form-label">Select Department</label>
        <select class="form-select" id="deptCode" formControlName="deptCode">
          <option *ngFor="let dept of deptCodes" [value]="dept">
            {{ dept }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="experience" class="form-label">Experience</label>
        <input
          type="number"
          class="form-control"
          id="experience"
         formControlName="experience"

        />
      </div>
      <div class="mb-3">
        <label for="empPic" class="form-label">Upload Image</label>
        <input type="file" class="form-control" id="empPic" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</article>
