<div>
  <b>{{ classRef.counter }}</b>
  <h1>one way data binding</h1>
  <!-- one way string interpolation -->
  <b>{{ message }}{{ companyLocation }}</b>
  <!-- <b>{{classRef.companyName}}</b> -->
  <h5>attribute binding</h5>
  <input type="text" [value]="message" placeholder="message" />
  <h2>2-way data binding</h2>
  <input
    type="text"
    [(ngModel)]="message"
    placeholder="message"
    (keyup)="display()"
  />
  <label>selectyour location</label>
  <select
    id="location"
    [(ngModel)]="companyLocation"
    placeholder="comoanyLocation"
    (change)="display()"
  >
    <!-- <option [value]="location[0]">Rabale</option>
    <option [value]="location[1]">Parel</option>
    <option [value]="location[2]">Dadar</option> -->
    <option *ngFor= "let loc of location | orderby" [value]="loc">{{loc }}</option>
  </select>
  we can do this also uppercase
  <P>{{message | uppercase }}</P>
  <p>
    {{ display() }}
  </p>
  <i>
    {{ message + " " + "concat" }}
  </i>
  <!-- {{image.src}} -->
  <img
    [src]="image.src"
    [alt]="image.alt"
    [style.height]="image.height"
    [style.width]="image.width"
  />

  <h3>Template Reference Variables</h3>
  <b>trv must be unique throught out the application</b>
  <p #para>India is my country. All indians are my brothers and sisters</p>
  <button type="button" (click)="getNode(para)">acces node</button><br />
  <label for="ageNode">Enter your age</label>
  <input type="number" id="ageNode" #ageNode (keyup)="getAge(ageNode.value)" />
  <div>Structural directive</div>
  <!-- <section>
    <input type="text" [(ngModel)]="voterAge" placeholder="enter age" />
    <p *ngIf="voterAge > 18">you are allowed for voting</p>
    <p *ngIf="voterAge < 18">sorry you are not allowed for voting</p>
  </section> -->
  <section>
    <!-- <h4>*ngIf else</h4>
    <input type="number" [(ngModel)]="voterAge" placeholder="enter your age">
    <p *ngIf="voterAge>=18 else elsepart">
        Welcome!!!!! Your are allowed for voting....
    </p>
    <ng-template #elsepart>
        <p >
            Sorry!!!!! Your are not allowed for voting....
        </p>
        <p >
        because your age is below 18
        </p>
        <p >
            try again in next year.....
        </p>
    </ng-template> -->
    <hr>
    <h5> ng-if then else</h5>
    <!-- axulary element just to check the condition -->
<input type="number" [(ngModel)]="voterAge">
<span *ngIf="voterAge >18  then thenBlock; else elseBlock"></span>
<ng-template #thenBlock> welcome you can vote</ng-template>
<ng-template #elseBlock> you cant not vote</ng-template>

</section>
<hr>
<div>
  Pick your favorite hero
  (<label for="showSad"><input id="showSad" type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
</div>
<select [(ngModel)]="hero">
  <ng-container *ngFor="let h of hero">
    <ng-container *ngIf="showSad || h.emotion !== 'sad'">
      <option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
    </ng-container>
  </ng-container>
</select>
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">Color is Red</div>
  <div *ngSwitchCase="'blue'">Color is Blue</div>
  <div *ngSwitchCase="'green'">Color is Green</div>
  <div *ngSwitchDefault>Color is Unknown</div>
</div>
<button class="btn btn-danger" (click)="changeColor('red')">red</button>
<button class="btn btn-success" (click)="changeColor('green')">green</button>

<hr>

<h1>Pipes</h1>
{{message | uppercase}}
slice
{{message | slice :0 : 3}}
<h3>NUmber pipes</h3>
<!-- <table class="table table-striped">
<tbody>
  <thead> <tr><th>Salary</th></tr></thead>
  <tr *ngFor="let salary of salaries"><td>{{salary}}</td></tr>
  <thead> <tr><th>Salary</th></tr></thead><tr *ngFor="let salary of salaries"><td>{{salary | number}}</td></tr>
  <thead> <tr><th>Salary</th></tr></thead> <tr *ngFor="let salary of salaries"><td>{{salary | number :".2"}}</td></tr>
</tbody>

</table> -->

<table class="table table-stripped">
  <tbody>
      <tr><th>SALARY orderby</th><td *ngFor="let salary of salaries ">{{salary}}</td></tr>
      <tr><th>SALARY order by1</th><td *ngFor="let salary of salaries | orderby ">{{salary | number}}</td></tr>
      <tr><th>SALARY</th><td *ngFor="let salary of salaries">{{salary | number : ".2"}}</td></tr>  <!--upper limit 3 and lower limit 2-->
      <tr><th>SALARY</th><td *ngFor="let salary of salaries">{{salary | number : ".2-2"}}</td></tr>
      <tr><th>SALARY</th><td *ngFor="let salary of salaries">{{salary | number :"8.2"}}</td></tr>

  </tbody>
</table>

<h3>Currency PIpes</h3>
<table class="table table-stripped">
  <tbody>
      <tr><th>SALARY</th><td *ngFor="let salary of salaries">{{salary}}</td></tr>
      <tr><th>SALARY</th><td *ngFor="let salary of salaries">{{salary | currency}}</td></tr>
      <tr><th>SALARY</th><td *ngFor="let salary of salaries">{{salary | currency : 'INR'}}</td></tr>  <!--upper limit 3 and lower limit 2-->
      <tr><th>SALARY</th><td *ngFor="let salary of salaries">{{salary | currency : 'EUR ':'code' }}</td></tr>
      <tr><th>SALARY</th><td *ngFor="let salary of salaries">{{salary | currency : 'EUR ':'code':"8.1" |currecyPipe }}</td></tr>

  </tbody>
</table>

<h3>date pipe</h3>

<table>
  <tbody>
    <tr><td>{{today}}</td></tr>
    <tr><td>{{today | date}}</td></tr> <!---MEDIMUM DATE-->
    <tr><td>{{today | date : "shortDate" }}</td></tr>
    <tr><td>{{today | date :"mediumTime"}}</td></tr>
    <tr><td>{{today | date : "full" }}</td></tr>
    <tr><td>{{today | date :" MMMM,W,EEEEE"}}</td></tr>
  </tbody>
</table>
<button (click)="test()">FORMAT DATE</button>

<table class="table table-stripped">
  <tbody>
      <tr><th>Birth Date</th><td *ngFor="let date of birthDates | orderby">{{date |date}}</td></tr>
      </tbody>
</table>

</div>
