<div>
  <b>{{ classRef.counter }}</b>
  <h1>one way data binding</h1>
  <!-- one way string interpolation -->
  <b>{{ message }}{{ companyLocation }}</b>
  <!-- <b>{{classRef.companyName}}</b> -->
  <h5>attribute binding</h5>
  <input type="text" [value]="message" placeholder="message" />
  <h2>2-way data binding</h2>
  <input
    type="text"
    [(ngModel)]="message"
    placeholder="message"
    (keyup)="display()"
  />
  <label>selectyour location</label>
  <select
    id="location"
    [(ngModel)]="companyLocation"
    placeholder="comoanyLocation"
    (change)="display()"
  >
    <option [value]="location[0]">Rabale</option>
    <option [value]="location[1]">Parel</option>
    <option [value]="location[2]">Dadar</option>
    <!-- <option *ngFor= "let loc of locations" [value]="loc">{{loc | uppercase}}</option>-->
  </select>
  we can do this also
  <P>{{ message.toUpperCase() }}</P>
  <p>
    {{ display() }}
  </p>
  <i>
    {{ message + " " + "concat" }}
  </i>
  <!-- {{image.src}} -->
  <img
    [src]="image.src"
    [alt]="image.alt"
    [style.height]="image.height"
    [style.width]="image.width"
  />

  <h3>Template Reference Variables</h3>
  <b>trv must be unique throught out the application</b>
  <p #para>India is my country. All indians are my brothers and sisters</p>
  <button type="button" (click)="getNode(para)">acces node</button><br />
  <label for="ageNode">Enter your age</label>
  <input type="number" id="ageNode" #ageNode (keyup)="getAge(ageNode.value)" />
  <div>Structural directive</div>
  <!-- <section>
    <input type="text" [(ngModel)]="voterAge" placeholder="enter age" />
    <p *ngIf="voterAge > 18">you are allowed for voting</p>
    <p *ngIf="voterAge < 18">sorry you are not allowed for voting</p>
  </section> -->
  <section>
    <!-- <h4>*ngIf else</h4>
    <input type="number" [(ngModel)]="voterAge" placeholder="enter your age">
    <p *ngIf="voterAge>=18 else elsepart">
        Welcome!!!!! Your are allowed for voting....
    </p>
    <ng-template #elsepart>
        <p >
            Sorry!!!!! Your are not allowed for voting....
        </p>
        <p >
        because your age is below 18
        </p>
        <p >
            try again in next year.....
        </p>
    </ng-template> -->
    <hr>
    <h5> ng-if then else</h5>
    <!-- axulary element just to check the condition -->
<input type="number" [(ngModel)]="voterAge">
<span *ngIf="voterAge >18  then thenBlock; else elseBlock"></span>
<ng-template #thenBlock> welcome you can vote</ng-template>
<ng-template #elseBlock> you cant not vote</ng-template>

</section>
<hr>
<div>
  Pick your favorite hero
  (<label for="showSad"><input id="showSad" type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
</div>
<select [(ngModel)]="hero">
  <ng-container *ngFor="let h of hero">
    <ng-container *ngIf="showSad || h.emotion !== 'sad'">
      <option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
    </ng-container>
  </ng-container>
</select>
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">Color is Red</div>
  <div *ngSwitchCase="'blue'">Color is Blue</div>
  <div *ngSwitchCase="'green'">Color is Green</div>
  <div *ngSwitchDefault>Color is Unknown</div>
</div>
<button class="btn btn-danger" (click)="changeColor('red')">red</button>
<button class="btn btn-success" (click)="changeColor('green')">green</button>
</div>
