
<div [ngStyle]="cardStyle" [ngClass]="flexClass" >
  <img [src]="employee.empPic" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{employee.empName}}</h5>
      <p class="card-text">{{employee.empName}} joined on {{employee.joiningDate}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> basicSalary = {{employee.basicSalary}}</li>
      <li class="list-group-item"> deptCode={{employee.deptCode}}</li>
      <li class="list-group-item">experience ={{employee.experience}}</li>
    </ul>
    <div class="card-body">
      <a href="#" [ngClass]="cardLinks">Edit</a>
      <a href="#" class="card-link link">Delete</a>
    </div>
</div>

