<h1>All  Employees here</h1>
<div *ngFor="let employee of employees">  
    <app-employee-item [emp] ="employee"></app-employee-item>
    <!-- <li>{{employee.empName}}</li>
    <li>{{employee.empAge}}</li>
    <li>{{employee.empSalary}}</li> -->
</div>


<label for="cardColor">Choose color for card</label>
<input type='color' [(ngModel)]="cardStyle.backgroundColor" id="cardColor" />
<div  [ngStyle]="{color:'blue','display':'flex','justify-content':'center','align-items':'center','gap':'2px'}">
<div class="d-flex">
  <app-employee-card  *ngFor="let emp of neoEmployees" [employee]="emp" [cardStyle]="cardStyle" [flexClass]="flexClass"></app-employee-card >
</div>
</div> 