<section>
    <h3>Welcome to NEOSOFT</h3>
    <p>This Angular Project is Performing CRUD operations on Employee</p>
    <p>New Employee Will be</p>
    <ol>
        <li>created and Added to databases: C</li>
        <li>Read From Database and displayed:R</li>
        <li>Updated in databases and displayed:U</li>
        <li>Deleted from databases and displayed:D</li>
    </ol>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <a routerLink="neosoft" class="m-4">NEOSOFT</a> 
        <a routerLink="webwerks">WEBWERKS</a>
    </nav>
    <div>
        <h6>below router outlet for the Home Component</h6>
        <router-outlet></router-outlet>
    </div>
    <footer>
        home component footer
    </footer>
    </section>
